body {
    margin-right: auto;
    margin-left: auto;

    width: 100%;

    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: darkslategray;
}

header {
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}

nav {
    float: right;
    overflow: hidden;
    width: 100%;
    background: rgb(183,132,40);
    font-size: 15px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

nav a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    border-bottom: 3px solid transparent;
}

nav a:hover {
    background: rgba(190,144,61);
    border-bottom: 3px solid rgba(164,118,36);
}

nav a:active {
    background: rgba(164,118,36);
    border-bottom: 3px solid rgba(128,92,28);
}

.container {
    border-top: 3px solid rgba(43,72,72);
    border-bottom: 3px solid rgba(43,72,72);
    display: flex;
    padding: 20px;
}

.photo {
    height: 500px;
    margin-right: 15px;
}

.article {
    line-height: 2;
    font-size: 15px;
}

footer {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background: black;
    color: white;
    font-size: 15px;
}